<% content_for :page_title, "Showing All Blogs!" %>

<section class="section"> 

    <div class="container">
        <%
=begin%>
 <% @posts.each do |post| %> 
<%
=end%>

            <div class="card">
                <div class="card-content">
<%
=begin%>
 
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4"> <%= link_to post.title, post %></p>
                        </div>
                    </div> 
<%
=end%>

                    <%
=begin%>
 <div class="content">
                        <%= post.content %>
                    </div> 
<%
=end%>

                    <%# <div class="comment-count"> %>
                        <%# <span class="tag is-rounded"> <% #comment count </span> %>
                    <%# </div> %>

                </div>
            </div>

        <%
=begin%>
 <% end %> 
<%
=end%>
    </div>

</section>